<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"> Create New</i></a>  Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{list.Fullname}}</td>
            <td>{{list.Email}}</td>
            <td>{{list.Mobile}}</td>
            <td>{{list.City}}</td>
            <td>
                <a href="/employee/{{list._id}}" class="fa fa-pencil fa-lg" aria-hidden="true"></a>
                <a href="" class="fa fa-trash fa-lg" aria-hidden="true"></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>